<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Error</title>
</head>

<style>

  html, body {
    height: 100%;

    padding: 1rem;
  }

  #error-block {
    box-sizing: border-box;
    display: inline-block;
    background-color: #efefef;

    padding: 1rem 3rem;
    width: 100%;
  }

</style>

<body>

  <div id="error-block">

    <h1> Oops...</h1>

    <p>
      Seems like something gone wrong.
    </p>

  </div>

</body>

</html>