<!DOCTYPE html>

<html>

    <head>
      {{>metaInfo}}
      <title>Cloud Studio Web Control</title>
    </head>

    <body>

    <div id="application-root">
    </div>

    <!-- built files will be auto injected -->

    </body>

</html>
